# Session 11

Objective

    At the end of this session successful students will be able to:

    * use dictionaries to solve problems
    * understand what type of data is suited for dictionaries

Coverage

    * **dictionaries**
    * FizzBuzz
    * mon(th)-dd-yyyy -> yyyyddd
    * Assignments:
	   - Roman to Arabic
       - Arabic to Roman

## Problem set

* FizzBuzz
* dd mm yyyy -> yyyyddd

#Problem 01

FIZZBUZZ using dictionary

In [ ]:
def fbn(n: int) -> str:
    fizzbuzzer = {(True, True): "FIZZBUZZ",
                  (True, False): "FIZZ",
                  (False, True): "BUZZ",
                  (False, False): str(n)
                  }
    return fizzbuzzer[(n % 3 == 0, n % 5 == 0)]

def fizzbuzz(limit: int) -> [str]:
    fb = []
    for n in range(1, limit):
        fb.append(fbn(n))
    return fb

In [ ]:
print(fizzbuzz(16))

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14', 'FIZZBUZZ']

##Problem 2
### mon(th) dd yyyy -> yyyyddd
We are given data strings of the form 

"mon(th) dd, yyyy"

Examples:

Jan 4,2012

February 07 1987

may 30, 1999

 * The month name may or may not be capitalised
 * The month name may be spelt out in full or just the first three letters 
    - (Minimum three is guaranteed)
 * The day may or may not have a leading zero
 * The day and year will be separated by either 
    - Comma or
    - Space or
    - Comma and a space

The task is convert such strings to the seven digit number yyyyddd, where ddd is the ddd$^{th}$ day of the year

Jan 4, 2012 $\Rightarrow 2012004$

February 07 1987 $\Rightarrow 1987038$

may 30, 1999 $\Rightarrow 1999150$

In [ ]:
def is_leap_year(yyyy: int) -> bool:
    if yyyy % 100 == 0:
        return yyyy % 400 == 0
    else:
        return yyyy % 4 == 0

def clean_up(s: str) -> (str, int, int):
    COMMA, SPACE = ",", " "
    months = {"JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"}
    d31s = {"JAN", "MAR", "MAY", "JUL", "AUG", "OCT", "DEC"}
    
    month, sdd, syyyy = s.replace(COMMA, SPACE).split()
    mon = month.upper()[:3]
    yyyy = int(syyyy)
    dd = int(sdd)
    leap_year_adj = int(is_leap_year(yyyy))
    
    if mon not in months:
        return "", 0, 0
    
    if dd < 1:
        return "", -1, 0

    if mon == "FEB":
        if dd > 28 + leap_year_adj:
            return "FEB", -1, 0
    if mon in d31s:
        if dd > 31:
            return mon, -1, 0
    elif dd > 30:
        return mon, -1, 0
    

    return mon, dd, yyyy

In [ ]:
def convert_to_yyyyddd(s: str) -> int:

    CUMULATIVE_DAYS = {"JAN":  0,  "FEB":  31,  "MAR": 59,  "APR": 90, "MAY": 120, "JUN": 151, 
                "JUL": 181, "AUG": 212, "SEP": 243, "OCT": 273, "NOV": 304, "DEC": 334}

    mon, dd, yyyy = clean_up(s)
    if yyyy == 0:
        return -1
    return yyyy * 1000 + CUMULATIVE_DAYS[mon] + dd